################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EndPointController/Debug
/EndPointController/Release
/Release
/Debug
/Demo/AudioEndPointController/bin/Debug
/Demo/AudioEndPointController/obj
/Demo/AudioApp/bin/Release
/Demo/AudioApp/obj/Release
